{% extends 'partials/base.html' %}
{% block title %} Página de Cadastro {% endblock %}
{% block content %}

    <div class="container">
        <div class="row">
            <div class="col-md-6 offset-md-3">
                <div class="border bg-white p-3">
                    <h3>Página de Cadastro</h3>
                    <hr>
                    <form method="POST">
                        {% csrf_token %}
                        {{ form }}
                        <input class="btn btn-success" type="submit" value="CADASTRAR">
                    </form>
                </div>
            </div>
        </div>
    </div>


{% endblock %}